<div class="container">
  <div class="row">
    <h2 class="header-background col-xs-3 col-xs-offset-2">注文情報入力</h2>
  </div>
  <div class="row"></div>
    <div class="col-xs-8 col-xs-offset-2">
      <% if current_customer.into_carts.present? %>
        <%= render "layouts/error_messages", resource: @order %>

        <%= form_with :model => @order, url:orders_path, method: :post, local: true  do |f| %>

          <div class="col-xs-10 radio">
                <%= f.radio_button :payjp_id, :"クレジットカード", checked: true %>
                <span>クレジットカード</span>
          </div>
          <div class="col-xs-10 radio">
                <%= f.radio_button :payjp, :"銀行振込" %>
                <span>銀行振り込み</span>
          </div>

          <h3>お届け先</h3>

          <div class="col-xs-10 radio">
                <%= f.radio_button :addresses, "residence", checked: true  %>
                <span>ご自身の住所</span><br>
               <%= "#{current_customer.postal_code} #{current_customer.address}" %>
                <br>
               <%= "#{current_customer.firstname} #{current_customer.surname}" %>
          </div>

          <div class="col-xs-10 radio">
                <%= f.radio_button :addresses, "add_deliveries" %>
                  <span>登録済住所から選択</span><br>
                <%= f.collection_select(:add_delivery_id, @add_deliveries) %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>