<div class="container">
<<<<<<< HEAD
  <div class="row">
    <h2 class="header-background col-xs-8 col-xs-offset-2">ショッピングカート</h2>
  </div>

<<<<<<< HEAD
  <div class="row">
    <div class="col-xs-12">
      <% if @into_carts.present? %>
    </div>
  </div>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
=======
<% if @into_carts.present? %>
=======
 <div class="row">
  <div class="col-lg-8">



<h2>ショッピングカート</h2>

<% if @cart_items.present? %>
>>>>>>> eb262f95583295f7ef8cbeefe0523e561135dc5c
 <div>
  <%= link_to " カートを空にする", delete_all_into_carts_path, method: :delete, data: {confirm: 'カートを空にしますか？'}, class: "btn btn-danger" %>
 </div>
<table>
 <thead>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
 </thead>
>>>>>>> 8876049db369ffaa1fda415394f53c2275b4ef36

    <tbody>
      <tr>
      <% @into_carts.each do |into_cart| %>
       <td>商品名</td>
       <td>単価（税込）</td>
       <td>数量</td>
       <td>小計</td>
       <td>削除</td>
      </tr>
      <% end %>
    </tbody>

<<<<<<< HEAD
  </table>
  <% end %>
</div>
=======
 <tbody>
   <tr>
    <% @cart_items.each do |into_cart| %>
     <td>
      <%= attachment_image_tag(into_cart.item, :image, size: "70x50") %>
      <%= into_cart.item.name %>
     </td>
     <td>

      <%= into_cart.item.price_without.to_s(:delimited) %>
     </td>
     <td>
      <%= form_with model: into_cart, url: into_cart_path(into_cart), local: true do |f| %>
       <%#= f.select :quantity , options_for_select((1..30).to_a) %>
       <%= f.number_field :quantity, id: "quantity_cart", size: 550, min: 1%>
       <%= f.submit "変更", class: "btn btn-info" %>

      <% end %>
     </td>
     <td>
      <%= into_cart.item.price_without*into_cart.quantity %>
      <%#= into_cart.item.price_without.to_s(:delimited) %>
     </td>
     <td>
      <%= link_to " 削除する", into_cart_path(into_cart.id), method: :delete, data: {confirm: "#{into_cart.item.name}を削除してよろしいですか？"}, class: "btn btn-danger" %>
     </td>
   </tr>
    <% end %>
  </tbody>
 </table>
<% end %>

 <table>
  <thead>
   <tr>
    <td>合計金額:¥<%= @sum %></td>
    <td class="text-right">
     <!--¥<#%= @total_price(@cart_items).to_s(:delimited) %>-->
    </td>
   </tr>
  </thead>

  <div>
    <%= link_to " 買い物を続ける", items_path, class: "btn btn-info" %>
  </div>

  <div>
    <%= link_to " 情報入力に進む", new_order_path, class: "btn btn-success" %>
  </div>

  </div>
 </div>
</div>
>>>>>>> eb262f95583295f7ef8cbeefe0523e561135dc5c
