<div class="container">
  <div class="row">
    <h3 class="header-background col-xs-offset-1 col-xs-4"><%= @customer.surname %><%= @customer.firstname %>さんの会員詳細</h3>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-8">
      <table class="table">
        <tr class="active">
        <tr>
          <td>顧客ID</td>
          <td>
            <%= @customer.id %>
            <% if @customer.is_active == TRUE %>
              <span class="badge" style="background:#58aee0;">有効会員</span>
            <% else %>
              <span class="badge" style="background:#d72238;">退会会員</span>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>氏名</td>
          <td><%= @customer.surname %> <%= @customer.firstname %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><%= @customer.surname_kana %> <%= @customer.firstname_kana %></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>

      <%= link_to edit_admin_customer_path(@customer), data: {"turbolinks" => false} do %>
        <span class="btn btn-primary">編集する</span>
      <% end %>

      <%= link_to admin_orders_path(customer_id: @customer.id) do %>
        <span class="btn btn-primary">注文履歴一覧を見る</span>
      <% end %>
    </div>
  </div>
</div>