<h2 class=“text-center”>商品詳細</h2>
<div class=“container”>
 <div class=“row”>
<table class=“table table-hover table-bordered”>
 <thead>
  <tr>
    <th>商品名</th>
    <th>書品説明</th>
    <th> 価格(税込)</span></th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>
     <%= attachment_image_tag(@item, :image, size: “500*400”) %>
     <%= @item.name %>
    </td>
    <td><%= @item.specifcation %></td>
    <td>¥<%= ((@item.price_without * 1.1 ).round(2)).ceil.to_s(:delimited) %><span>(税込)</span></td>
  </tr>
 </tbody>
</table>
  <div class=“pull-right”>
    <% if @item.item_status && @item.genre.genre_status == true %>
      <%= form_with model: @into_cart, url: into_carts_path(item_id: @item.id), local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity,options_for_select((1..10).to_a), include_blank: “個数選択” %>
        <%= f.submit “カートに入れる“, class: “btn btn-primary” %>
      <% end %>
    <% else %>
     <h4 class=“badge badge-pill badge-warning”>売り切れ中</h4>
    <% end %>
    <%= paginate @items %>
   </div>
  </div>
 </div>
</div>