<h2>商品詳細</h2>
<div><%= attachment_image_tag(@item, :image, size: "500*400") %></div>
<%= @item.name %>
<%= @item.specifcation %>
<h3>
  ¥<%= @item.price_without.to_s(:delimited) %>
 <span>(税込)</span>
</h3>
<div>
 <% if @item.item_status && @item.genre.genre_status == true %>
   <%= form_with model: @into_cart, url: into_carts_path, local: true do |f| %>
   <%#= form_with(model:[@book, @book_comment], local: true) do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.select :quantity,options_for_select((1..10).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
   <% end %>
 <% else %>
  <h4 class="badge badge-pill badge-warning">売り切れ中</h4>
 <% end %>
 <%= paginate @items %>
</div>