<h2>配送先登録/一覧</h2>
  <%= form_with(model: @add_delivery, :url => {:controller => "customer/add_deliveries"}) do |f| %>
  <div class="shipping_addres col-xs-10">
    <div class="form-group col-xs-12">
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.text_field :"postal_code" %>
    </div>
    
    <div class="form-group col-xs-12">
    <%= f.label :"住所" %>
    <%= f.text_field :"address" %>
    </div>
    
    <div class="form-group col-xs-12">
    <%= f.label :"宛名" %>
    <%= f.text_field :"addressee" %>
    </div>

    <%= f.submit "登録する",class: "col-xs-2 pull-right btn-lg btn-success " %>
  <% end %>
  </div>

<div class="col-xs-12">
  <table>
      <thead>
          <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th colspan="2"></th>
          </tr>
      </thead>
  
      <tbody>
        <% @add_deliveries.each do |add_delivery| %>
        <tr><%= add_delivery.id %>
          <td><%= add_delivery.postal_code %></td>
          <td><%= add_delivery.address %></td>
          <td><%= add_delivery.addressee %></td>
          <td>
            <%= link_to "編集する",edit_add_delivery_path(add_delivery) %>
          </td>
          <td>
            <%= link_to "削除する",add_delivery_path(add_delivery), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true %>
          </td>
        </tr>
        <% end %>

    </tbody>
  </table>
