<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
<<<<<<< HEAD
    <%= render "layouts/header" %>
=======
  <%= render "layouts/header" %>
    <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <%#= link_to "ログイン", new_customer_session_path %>
    <%#= link_to "新規会員登録", new_customer_registration_path %>
    <%#= link_to "サインアップ", new_customer_registration_path %>
    <%#= link_to "ログイン", customer_session_path %>
    <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <%#= link_to "ログイン", new_customer_session_path %>
    <%#= link_to "新規会員登録", new_customer_registration_path %>
>>>>>>> 8876049db369ffaa1fda415394f53c2275b4ef36
    <%= yield %>
  </body>
</html>
